@import (reference) 'antd/lib/style/themes/default';

@primary-color: #6f51c7;
@text-color: #262523;
@component-color: @text-color;
@layout-body-background: #f9f9f9;
@layout-footer-height: 156px;
@headings-font-family: 'Merriweather', serif;
@text-font-family: 'Merriweather', serif;
@font-family: @text-font-family;
@layout-footer-padding: 0;
@layout-header-background: transparent;
@layout-header-height: 156px;
@layout-header-padding: 16px 24px;
@menu-bg: @layout-header-background;
@layout-width: 1440px;
@line-height-base: 2;
@heading-1-size: ceil(@font-size-base * 2.3);